
h1 {
   display: inline-block;
}
span {
   font-weight: bold;
}
div.review {
   border: 5px solid silver;
   border-style: groove;
}
div.individreview {
   padding: 5px;

}

img.star {
   height: 25px;
   width: 25px;
}

.other_reviews {
   border: 5px solid #f92;
   padding: 10px;
}
