<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/styles.css">
      <title>BookWorm</title>
   </head>
   <body>
      <div class="container">
         <nav class="navbar-static-top">
            <h1>Welcome, {{userdata[0]['alias']}}!</h1>
            <p class="navbar-text pull-right"><a href="/logout">Log Out</a></p>
            <p class="navbar-text pull-right"><a href="/books/add">Add Book/Review</a></p>
         </nav>
         <div class="col-md-8 review">
            <h2>Recent Book Reviews:</h2>
            {% for review in bookdata %}
            <div class="col-md-8 individreview">
            reviewed by {{review['alias']}}:<br>
            {{review['author_name']}} - <a href="/books/{{review['book_id']}}">{{review['title']}}</a><br>
            rating: {{review['rating']}}
               <img src="static/img/star.png" class="star" alt="star" /><br>
            {{review['review_content']}}<br><br><br>
            </div>
            {% endfor %}
         </div>
         <div class="col-md-4 other_reviews">
            <h4>Other reviews:</h4>
            {% for r in reviews %}
               <a href="/books/{{r['book_id']}}">{{r['title']}}</a> by <a href="/users/{{r['posted_by']}}">{{r['alias']}}</a><br>
            {% endfor %}
         </div>
      </div>
   </body>
</html>
